* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .box-container {
    display: inline-grid;
    height: 550px;
    width: 550px;
    margin: 10px 0px;
  }
  
  .box {
    background-color: white;
    border: 1px solid black;
  }
  
  h2 {
    padding-top: 15px;
  }