* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.box {
    background-color: yellow;
}

.box-container {
    width: 65%;
    height: 100vh;
    display: grid;
}